.active-word{
	background-color: red;
}

.highlight{
	background-color: red;
	display: inline-block;
	position: absolute;
	top:0;
	left:0;
	transition:  .1s ease; /* only transition top property */
	opacity: 50%;
}

.audio-progress{
	-webkit-appearance: none;
	background-color: black;
}